</div>

<!-- <img class="float-left" id="lost-planet-logo" src="/images/lost-planet-logo.jpg" alt=""> -->
<div class="d-flex justify-content-end">
            <img class="align-self-end px-1" src="/images/footer1.gif" alt="">
            <img class="align-self-end px-1" src="/images/footer2.gif" alt="">
            <img class="align-self-end px-1" src="/images/footer3.gif" alt="">
</div>

</div>
    

<!--End container div -->

</div>
</body>
</html>