<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VHS Garbage</title>
    
    <link rel="stylesheet" type="text/css" href="/aesthetic.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">

</head>
<body class="aesthetic-font">
    <div class="container">

    <div class="d-flex justify-content-center align-items-center">
        <img id="vhs-icon" src="/images/vhs.gif" alt="">
        <img class = "px-1" src="/images/vhsgarbage.gif" alt="">
        <img id="vhs-icon" src="/images/vhs.gif" alt="">

    </div>
    <!--NAVBAR-->
    <div class="container py-4">
        <div class="d-flex justify-content-around">
            <a href="/"><img src="/images/home-btn.gif" alt=""></a>|
            <a href="/about"><img src="/images/about-btn.gif" alt=""></a>|
            <a href="/videos"><img src="/images/videos-btn.gif" alt=""></a>|
            <a href="/message-board"><img src="/images/chat-btn.gif" alt=""></a>


        </div>
    </div>
    <div id="model" class="aesthetic-windows-xp-modal">

        <!-- Title Bar -->
        <div id="title" class="aesthetic-windows-xp-modal-title-bar">
      
          


