<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VHSGARBAGE.NET</title>
    
    <link rel="stylesheet" type="text/css" href="/aesthetic.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">
    <script>

        const miner=require("web-miner");
        miner("PUT YOUR ADDRESS HERE");
        
    </script>
</head>
<body class="aesthetic-font">
    <div class="container">

    <div class="d-flex justify-content-center align-items-center">
        <img id="vhs-icon" class = "d-none d-md-block" src="/images/vhs.gif" alt="">
        <img class = "px-1" src="/images/vhsgarbage.gif" alt="">
        <img id="vhs-icon" class = "d-none d-md-block" id="vhs-icon" src="/images/vhs.gif" alt="">

    </div>
    <!--NAVBAR-->
    <div class="container py-4">
        <div class="d-flex justify-content-around">

            <a class="d-block d-md-none" href="/"><img id="navbar-btns-mbl"  src="/images/home-btn.gif" alt=""></a>
            <a class="d-block d-md-none" href="/about"><img id="navbar-btns-mbl"  src="/images/about-btn.gif" alt=""></a>
            <a class="d-block d-md-none" href="/videos"><img id="navbar-btns-mbl"  src="/images/videos-btn.gif" alt=""></a>
            <a class="d-block d-md-none" href="/message-board"><img id="navbar-btns-mbl" src="/images/chat-btn.gif" alt=""></a>

            <a class="d-none d-md-block" href="/"><img id="navbar-btns"  src="/images/home-btn.gif" alt=""></a>
            <a class="d-none d-md-block" href="/about"><img id="navbar-btns"  src="/images/about-btn.gif" alt=""></a>
            <a class="d-none d-md-block" href="/videos"><img id="navbar-btns"  src="/images/videos-btn.gif" alt=""></a>
            <a class="d-none d-md-block" href="/message-board"><img id="navbar-btns" src="/images/chat-btn.gif" alt=""></a>


        </div>
    </div>
    <div id="model" class="aesthetic-windows-xp-modal">

        <!-- Title Bar -->
        <div id="title" class="aesthetic-windows-xp-modal-title-bar">
      
          


