<%- include("partials/header.ejs"); %>

<div class="aesthetic-windows-xp-modal-title-bar-text">
  <h4 class="my-0">Homepage</h4>
</div>

</div>

<!-- MAIN BODY -->
<div class="row">
    <div class="col-md-12">
            <div class="aesthetic-windows-xp-modal-content">
                <div>
                  <div class="d-flex">
                    <div class="align-self-center text-center">
                      <img id="welcome-mbl" src="images/welcome.gif" class="mx-3 font-weight-bold d-block d-md-none"></img>

                      <img src="images/welcome.gif" class="mx-3 font-weight-bold d-none d-md-block"></img>

                    </div>
                    
                    <img class="align-self-start d-none d-md-block" src="images/giphy.gif" alt="">
                  </div>

                  <div class="d-flex">
                    <div class="card">
                      <div class="card-body">
                        <!--CONTENT OF HOMEPAGE BODY HERE-->
                        <h4>
                          Based out of the biggest little city in the world, VHSGARBAGE is a video project featuring trashy underground "raw" video content.
                        </h4>
                        <hr>
                        <p>
                          "It sucks, isn't good and is super cringy."<br>
                          - Ben (A Rehab Escaping Crackhead) <br>
                        </p>
                        <p>

                          "I don't know why the fuck this dude is trying to interview me right now, it's honestly making me uncomfortable" <br>
                          - Some "Paki" Guy Downtown <br>
                        </p>
                        <p>
                          "Come back here I'm gunna beat the shit out of you, f*ggot" <br>
                          - Sig Ep Fraternity Brother <br>
                        </p>
                        <p>
                          "This is soooo cool and super unique, the guy who made this must be super good in bed" <br>
                          - Your girlfriend <br>
                        </p>
                        <p>
                          "Like drinking black coffee and chainsmoking newports on a shitty day, phenominal" <br>
                          - Matthew <br>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</div>
<%- include("partials/footer.ejs"); %>