@font-face{
    font-family: "vcrOsd";
    src: url('VCR_OSD.ttf');
}

body {
    background-image: url('images/background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #008083;

  }

#fill-row{
    height:100%;
}

#max-width{
    width:100%;
}

#max-height{
    height:100%;
}

#lost-planet-logo{
    width:10%;
}

#vhs-icon{
    height:85px;
}

p{
    font-size: 150%;
    font-weight: 900;
}

#title{
    font-family: "vcrOsd";
    color:#F9E900;
    background: linear-gradient(#6b6c6e,#262626);
}

#model{
    border-color: #C0C0C0;
    background-color: #484a478f;
}

#timestamp{
    font-size: 20px;
    font-weight: 0;
    float: right;
}

#author{
    font-size: 25px;
}

#content{
    font-size: 20px;
}

.card{
    color: black;
    background-color: #008083;
}

#navbar-btns{
    max-height: 40px;
}

#navbar-btns-mbl{
    max-height: 20px;
}

#welcome-mbl{
    max-width: 90%;
}

#video-player{
    max-width: 1000px;
}

