<%- include("../partials/header.ejs"); %>

<div class="aesthetic-windows-xp-modal-title-bar-text">
    <h4 class="my-0">About</h4>
  </div>
  
</div>

<div class="container">
    <h1 class="pt-3">Contact me at: email@vhsgarbage.net</h1>

  <hr>
  <h2>Donate:</h2>
  <div class="card">
    <div class="card-body">
      <p>
        We're completely funded by the United States Federal Government, but you can also get right behind the feds and support your local "whatever" by sending me some anarchy coins or sending
        cash with your government name through paypal. I will waste every penny and use the bitcoin you give me to buy "happy pills" off some chinese kid on the darkweb, that's a guarantee. No refunds. :P
      </p>
      <p>BITCOIN ADDRESS</p>
    <p>MONERO ADDRESS</p>
    </div>
  </div>

  <hr>

  <h2>Donate Paypal:</h2>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="business" value="carsonpcase@gmail.com" />
      <input type="hidden" name="item_name" value="TestingWebsite (this will be replaced with owners button later)" />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>

</div>
    

<%- include("../partials/footer.ejs"); %>